/* style.css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 2px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 50px;
}

.name h1 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.menu a {
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    margin-right: 600px;
}

.menu a:not(:last-child) {
    margin-right: 10px;
}

.logout-button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* styles.css */

/* Pour le formulaire  */
.scrollable-form {
    height: 400px; /* Hauteur fixe pour la div scrollable */
    overflow-y: auto; /* Permet le défilement vertical si le contenu dépasse la hauteur */
}
.form_form{
    display: flex;
    flex-direction: column;
    align-items: center; /* Ajout de cette propriété pour centrer le formulaire horizontalement */
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.form_form label {
    margin-bottom: 5px;
}
.form_form input,
.form_form select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form_form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Pour chaque élément du formulaire (input, select, button) */
form input,
form select,
form button {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    margin-top: 80px;
}
.form-export {
    margin-top: 2px;
}

/* Style du bouton de recherche */
form button {
    background-color: #007bff; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    cursor: pointer;
}
.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-title {
    text-align: center;
}

/* Pour le footer}*/
.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* styles.css */

/* Pour le tableau */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Style de l'en-tête du tableau */
table th {
    background-color: #f2f2f2; /* Couleur de fond de l'en-tête */
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc; /* Bordure en bas de l'en-tête */
}

/* Style des lignes du tableau */
table tr {
    border-bottom: 1px solid #ccc; /* Bordure en bas de chaque ligne */
}

/* Style des cellules du tableau */
table td {
    padding: 10px;
}

/* Style des liens dans le tableau */
table a {
    text-decoration: none;
    color: #007bff; /* Couleur du lien */
}

/* Effet de survol sur les liens */
table a:hover {
    text-decoration: underline;
}

.details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Style pour les deux parties du conteneur */
.details-container > div {
    flex: 1;
    padding: 10px;
}

/* Style pour les images dans les détails */
.details-container img {
    max-width: 200px;
    max-height: 200px;
}



